<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NoticeMapper">

    <insert id="addNewNotice" parameterType="com.model.Notice">
        insert into notice(title, text, time)
            value (#{title}, #{text}, #{time})
    </insert>
    <update id="updateNewNotice" parameterType="com.model.Notice">
        update notice
        set title = #{title},
            text  = #{text},
            time  = #{time}
        where id = #{id}
    </update>
    <delete id="deleteNotice" parameterType="java.lang.Integer">
        delete
        from notice
        where id = #{id}
    </delete>
    <select id="homePageNotice" resultType="com.model.Notice">
        select id, title, text, time
        from notice
    </select>
    <select id="find" resultType="com.model.Notice" parameterType="java.lang.String">
        select id, title, text, time
        from notice
        where title like concat('%', #{search}, '%')
    </select>
</mapper>