<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.StudentMapper">

    <resultMap id="StudentMap" type="com.model.Student">
        <result property="roomNo" column="room_no"/>
        <result property="password" column="pass_word"/>
    </resultMap>

    <select id="selectAll" resultMap="StudentMap">
        select id, pass_word, name, age, sex, phone, room_no
        from student
        where flag != 0
    </select>
    <select id="selectStudentById" resultType="com.model.Student">
        select id, pass_word, name, age, sex, phone, room_no
        from student
        where id = #{id}
    </select>

    <insert id="addStudent" parameterType="com.model.Student">
        insert into student(id, pass_word, name, age, sex, phone, room_no)
            value (#{id}, #{password}, #{name}, #{age}, #{sex}, #{phone}, #{roomNo})
    </insert>

    <delete id="deleteStudent" parameterType="String">
        delete
        from student
        where id = #{id}
    </delete>

    <update id="updateStudent" parameterType="com.model.Student">
        update student
        SET name=#{name}
        where id = #{id}
    </update>
    <update id="updatePassword" parameterType="map">
        update student
        set pass_word = #{password}
        where id = #{id}
    </update>
</mapper>