<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.WorkerMapper">
    <select id="findAll" resultType="com.model.Worker">
        select id, password, name, sex, phone, age
        from worker
    </select>
    <select id="selectRepairById" resultType="com.model.Worker">
        select id, password, name, sex, phone, age
        from worker
        where id = #{id}
        limit 1
    </select>

</mapper>